<head>
    <!-- other head elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <div id="board">
    <table>
      <tr>
        <td id="cell-0-0" class="cell"></td>
        <td id="cell-0-1" class="cell"></td>
        <td id="cell-0-2" class="cell"></td>
      </tr>
      <tr>
        <td id="cell-1-0" class="cell"></td>
        <td id="cell-1-1" class="cell"></td>
        <td id="cell-1-2" class="cell"></td>
      </tr>
      <tr>
        <td id="cell-2-0" class="cell"></td>
        <td id="cell-2-1" class="cell"></td>
        <td id="cell-2-2" class="cell"></td>
      </tr>
    </table>
  </div>
  